@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.pulse-animation {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(65, 105, 225, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(65, 105, 225, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(65, 105, 225, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(65, 105, 225, 0.4);
            box-shadow: 0 0 0 0 rgba(65, 105, 225, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(65, 105, 225, 0);
            box-shadow: 0 0 0 10px rgba(65, 105, 225, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(65, 105, 225, 0);
            box-shadow: 0 0 0 0 rgba(65, 105, 225, 0);
  }
}

.shining-text-animation p {
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(dimgrey), color-stop(lightgrey), to(dimgrey));
  background: linear-gradient(90deg, dimgrey, lightgrey, dimgrey);
  background-repeat: no-repeat;
  background-size: 75%;
  -webkit-animation: shine 6s linear infinite;
          animation: shine 6s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(105, 105, 105, 0.7);
}

@-webkit-keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.shining-image-animation {
  position: relative;
  overflow: hidden;
}

.shining-image-animation::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: translateX(-200%) skewX(-15deg);
          transform: translateX(-200%) skewX(-15deg);
  -webkit-animation: shine-before 7s infinite;
          animation: shine-before 7s infinite;
}

.shining-image-animation::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: translateX(-100%) skewX(-15deg);
          transform: translateX(-100%) skewX(-15deg);
  -webkit-animation: shine-after 7s infinite;
          animation: shine-after 7s infinite;
}

@-webkit-keyframes shine-before {
  100% {
    -webkit-transform: translateX(600%) skewX(-15deg);
            transform: translateX(600%) skewX(-15deg);
    opacity: 0.6;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

@keyframes shine-before {
  100% {
    -webkit-transform: translateX(600%) skewX(-15deg);
            transform: translateX(600%) skewX(-15deg);
    opacity: 0.6;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

@-webkit-keyframes shine-after {
  100% {
    -webkit-transform: translateX(800%) skewX(-15deg);
            transform: translateX(800%) skewX(-15deg);
    opacity: 1;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

@keyframes shine-after {
  100% {
    -webkit-transform: translateX(800%) skewX(-15deg);
            transform: translateX(800%) skewX(-15deg);
    opacity: 1;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

.image-overlay-animation {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.image-overlay-animation:hover .image-overlay-animation__overlay {
  opacity: 1;
}

.image-overlay-animation:hover .image-overlay-animation__overlay-content {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.image-overlay-animation .image-overlay-animation__overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.image-overlay-animation img {
  width: 100%;
  height: 100%;
}

.image-overlay-animation .image-overlay-animation__overlay-content {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.image-overlay-animation .image-overlay-animation__overlay-content .image-overlay-animation__overlay-content__text {
  width: 100%;
  color: #fff;
  font-size: 24px;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

html body .animation {
  margin: 24px 0;
  max-width: 225px;
  max-height: 225px;
}

html body .animated-dot {
  background-color: royalblue;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

html body .animated-text {
  font-size: 30px;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */