@import '../colors.scss';

.shining-text-animation {
  p {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, $sampleDarkGrey, $sampleLightGrey, $sampleDarkGrey);
    background-repeat: no-repeat;
    background-size: 75%;
    animation: shine 6s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba($sampleDarkGrey, .7);
  }

  @keyframes shine {
    0% { background-position: -500%; }
    100% { background-position: 500%; }
  }
}